<!doctype html>
<html lang="en">
{%  extends "base.html" %}
{% block body %}
    <script type="text/javascript" src="{{ url_for('static', filename='chat.js')}}"></script>

<body>

{# Pop up a modal if the user is not logged in #}
{% if not current_user.is_authenticated %}
    {% include "login_pane.html" %}
    {% block login_pane %}
    {% endblock %}
{% endif %}

<h1 class="title">{{ room }} Chatroom</h1>

<div class="container">
    <div class="row-9">
        <div id="messages" class="chat_stream">
        </div>
        <div class="send_message">
            {% if current_user.is_authenticated %}
            <p>Sending message as <b>{{ current_user.username }}</b></p>
            {% endif %}
            <form id="messageForm">
                <input id="message" type="text" />
                <input class="btn btn-primary" type="submit" value="Send" />
            </form>
        </div>
    </div>
    <div class="row-3">
        <div class="chat_users">
            <h3>Users in {{ room }}:</h3>
            <ul>
                <li>Logan</li>
            </ul>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>